body {
  background-image: url("../img/background.jpg");
  font-family: "Eczar", "Lucida Grande", sans-serif;
  color: black;
}

header+div {
  font-size: 200%;
  text-align: center;
  border-bottom-style: solid;
}

#title {
  font-size: 200%;
}

#header>table {
  width: 100%;
}

#header td {
  text-align: center;
  width: 25%;
}

#header button {
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 25px;
  color: black;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  width: 100%;
}

#header button:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}

footer {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

footer>table {
  width: 100%;
}

input {
  margin: 5px 0;
  padding: 5px;
}

a:hover {
  color: green;
}

input[type="submit"] {
  background-color: rgba(0, 255, 0, 0.5);
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(0, 255, 0);
  color: white;
}

#copy {
  text-align: center;
}

footer tr td:first-child {
  width: 575px;
}

#logoContainer {
  text-align: left;
}