#bannerContainer {
  height: 145px;
}

#banner {
  display: none;
}

img {
  display: block;
  margin: 0 auto;
}

.sub-title {
  font-size: 200%;
  padding: 10px;
}

#title {
  border-bottom-style: solid;
  font-size: 150%;
}

#logo {
  display: inline;
}

#title>div {
  float: right;
  font-size: 150%;
}

#findDriver {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 100%;
  margin: 10px 0;
  border-style: double;
}

#recipeFrame {
  left: 33%;
  height: 480px;
  text-align: center;
  margin: 10px;
}

#recipeText {
  top: 282px;
  width: 100%;
  height: 480px;
  margin: auto;
  text-align: center;
  position: absolute;
}

#recipeText>span {
  font-size: 150%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  height: 50px;
}