#inst p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 70%;
  padding: 10px;
}

.steps {
  font-size: 200%;
}

#copy {
  text-align: center;
}

label {
  display: inline-block;
}

.form {
  margin: 10px;
}

.form>input {
  margin: 10px 20px;
}

.checkboxes {
  margin: 10px 20px;
}

.radio {
  border-style: solid;
  text-align: center;
  padding: 10px;
}

td>label {
  display: block;
}

#total {
  text-align: center;
  font-size: 200%;
}

#submit {
  text-align: center;
}